# Directories
InitDirect3D/.vs/
InitDirect3D/bin/
InitDirect3D/bin-int/
DrawingExamples/.vs/
DrawingExamples/bin/
DrawingExamples/bin-int/
LightingExamples/.vs/
LightingExamples/bin/
LightingExamples/bin-int/

# Files
*.user
